@import "tailwindcss";

html {
  background: #00a650;
}
body {
  font-family: "Inter", system-ui, sans-serif;
}
.swiper {
  padding-bottom: 2px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 8px;
}
.swiper-pagination-bullet {
  /* background: #e5e5e5 !important; */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #00a650 !important;
}
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.35s ease-out;
}
