@import "tailwindcss";
body {
  font-family: "Inter", system-ui, sans-serif;
}
.swiper {
  padding-bottom: 2px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 8px;
}
.swiper-pagination-bullet {
  /* background: #e5e5e5 !important; */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #00a650 !important;
}
